Service References/AXServiceRef/ACC_ExternalStagingQueryServiceGroup11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/Acc_ExternalStagingQuery" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Acc_ExternalStagingQuery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://irv-sapl-axsbx:8101/DynamicsAx/Services/ACC_ExternalStagingQueryServiceGroup?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="Acc_ExternalStagingQuery" type="tns:AxdAcc_ExternalStagingQuery" />
  <xs:complexType name="AxdAcc_ExternalStagingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Staging" type="tns:AxdEntity_Staging" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_Staging">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingCustomer" nillable="true" type="st:AxdUnion_AxdExtType_CustAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="BillingGroupId" nillable="true" type="st:AxdExtType_ACC_BillingGroupId" />
      <xs:element minOccurs="0" name="Contract" nillable="true" type="st:AxdExtType_ACMArrangementId" />
      <xs:element minOccurs="0" name="ContractEndDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="ContractStartDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="st:AxdUnion_AxdExtType_CurrencyCode_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="CustomerPO" nillable="true" type="st:AxdExtType_ACC_CustomerPo" />
      <xs:element minOccurs="0" name="ManufacturingOrderID" nillable="true" type="st:AxdExtType_ACC_CRMOrderId" />
      <xs:element minOccurs="0" name="OrderCustomer" nillable="true" type="st:AxdUnion_AxdExtType_CustAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="StageId" nillable="true" type="st:AxdExtType_ACC_StageId" />
      <xs:element minOccurs="0" name="TransactionPartner" nillable="true" type="st:AxdExtType_ACC_TransactionPartner" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="TransType" nillable="true" type="st:AxdEnum_ACC_TransType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StageDetail" type="tns:AxdEntity_StageDetail" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
  <xs:complexType name="AxdEntity_StageDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillTriggerDate" nillable="true" type="st:AxdExtType_TransDate" />
      <xs:element minOccurs="0" name="DeliveryCountry" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressCountryRegionId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DeliveryCustomer" nillable="true" type="st:AxdUnion_AxdExtType_CustAccount_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="DeliveryState" nillable="true" type="st:AxdUnion_AxdExtType_LogisticsAddressStateId_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="st:AxdExtType_ACMTransTxt" />
      <xs:element minOccurs="0" name="ElementId" nillable="true" type="st:AxdExtType_ACMSubscriptionId" />
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="st:AxdUnion_AxdExtType_ItemIdSmall_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="LocationAddressText1" nillable="true" type="st:AxdExtType_ACC_LocationAddressText" />
      <xs:element minOccurs="0" name="LocationAddressText2" nillable="true" type="st:AxdExtType_ACC_LocationAddressText" />
      <xs:element minOccurs="0" name="LocationID" nillable="true" type="st:AxdExtType_ACC_LocationId" />
      <xs:element minOccurs="0" name="ManufacturingOrderID" nillable="true" type="st:AxdExtType_ACC_CRMOrderId" />
      <xs:element minOccurs="0" name="ManufacturingOrderLineRef" nillable="true" type="st:AxdExtType_LineNum" />
      <xs:element minOccurs="0" name="MirionTransactionId" nillable="true" type="st:AxdExtType_ACC_MirionTransactionId" />
      <xs:element minOccurs="0" name="OriginalInvoiceNumber" nillable="true" type="st:AxdExtType_ACC_OriginalInvoiceNumber" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="st:AxdExtType_SalesPrice" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="st:AxdExtType_SalesOrderedQty" />
      <xs:element minOccurs="0" name="ReasonCode" nillable="true" type="st:AxdExtType_ReasonCode" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="ServiceEndDate" nillable="true" type="st:AxdExtType_ACMServiceEndDate" />
      <xs:element minOccurs="0" name="ServiceStartDate" nillable="true" type="st:AxdExtType_ACMServiceStartDate" />
      <xs:element minOccurs="0" name="ShipmentCount" nillable="true" type="st:AxdExtType_ACC_ShipmentCount" />
      <xs:element minOccurs="0" name="SiteDimValue" nillable="true" type="st:AxdExtType_DimensionValue" />
      <xs:element minOccurs="1" name="StageId" type="st:AxdExtType_ACC_StageId" />
      <xs:element minOccurs="0" name="SuppressShipments" nillable="true" type="st:AxdEnum_NoYes" />
      <xs:element minOccurs="0" name="TerritoryDimValue" nillable="true" type="st:AxdExtType_DimensionValue" />
      <xs:element minOccurs="0" name="WearPeriod" nillable="true" type="st:AxdExtType_ACC_WearPeriod" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>